# this is merely an example .env file and you must update it with the correct passwords for your installation.
# please change the filename to .env instead of .env.example after you are done and do not add it to git.

# standard database development variables (not correct and should be changed.)
DB_USER=selab2
DB_HOST=127.0.0.1
DB_NAME=selab2_dev
DB_PASSWORD=dev
DB_PORT=5432
